@model Budget.Models.Category
@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete";
}

<h1>Delete Category</h1>
<div>
    <strong>Category:</strong> @Model.Name
</div>
<div>
    <form asp-action="delete" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>